h1 {
  text-align: center;
}

.bar {
  -webkit-transition: all .2s ease-in;
  fill: steelblue;
}


.label {
  -webkit-transition: all .2s ease-in;
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.location-name {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

.bar:hover {
  fill: red;
}

rect:hover + .label {
  fill: black;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
